.card_ranking_user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  gap: 1rem;

  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .position {
    font-size: 4rem;
    font-weight: bold;

  }
  
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
  }

  .card_ranking_user_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    height: 100%;
    gap: 1rem;
    .points, .bottle {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bottle_title, .points_title {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}