.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 1rem 2.5rem;

  .viewer {
    display: flex;
    gap: 1rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}